extends layout

block layout-style
	link(rel="stylesheet" href="css/style1.css")
	link(rel="stylesheet",href="css/form.css")
block layout-content
	div.View.HomeView
		div.Head
			h1.Banner Sign Up
		div.Mid
			div.Content
				form(action="/signup",method="POST")
					div.FormInput
						label First Name
						input#firstName(type="text",name='firstName')
					div.FormInput
						label Last Name
						input#lastName(type="text",name='lastName')
					div.FormInput
						label Email
						input#email(type="email",name="email",placeholder="nguyenvana@gmail.com")
					div.FormInput
						label Password
						input#password(type="password",name="password")
					div.FormInput
						label Birthday
						div.birthday
							select#dayOfBirth(name="dayOfBirth")
								-for(let i=1;i<=31;i++)
									option(value=i) #{i}
							select#monthOfBirth(name="monthOfBirth")
								-for(let i=1;i<=12;i++)
									option(value=i) #{i}
							select#yearOfBirth(name="yearOfBirth")
								-let year=new Date().getFullYear()
								-for(let i=year;i>=1900;i--)
									option(value=i) #{i}
					div.FormInput
						label Gender
						div.Gender
							select#gender(name="gender")
								-let gender=['Male','Female']
								-for(let i=0;i<gender.length;i++)
									option(value=i) #{gender[i]}
					input#signup(type="submit",value="Sign Up")
		div.Foot
			h3.Title Hello_ | Let talk your way!
block layout-script