extends layout

block layout-content
	div.View.SignUpView
		h1.Banner SIGN UP
		div.Login
			div.FormLogin
				form(action="/signup",method="POST")
					div.InputUser
						label(for="firstName") First Name
						input#firstName(type="text",name='firstName')
					div.InputUser
						label(for="lastName") Last Name
						input#lastName(type="text",name='lastName')
					div.InputUser
						label(for="email") Email
						input#email(type="email",name="email",placeholder="nguyenvana@gmail.com")
					div.InputUser
						label(for="password") Password
						input#pass(type="password",name="password")
					div.InputUser
						label Birthday
						div.birthday
							select#dayOfBirth(name="dayOfBirth")
								-for(let i=2;i<=31;i++)
									option(value=i) #{i}
							select#monthOfBirth(name="monthOfBirth")
								-for(let i=1;i<=12;i++)
									option(value=i) #{i}
							select#yearOfBirth(name="yearOfBirth")
								-let year=new Date().getFullYear()
								-for(let i=year;i>=1900;i--)
									option(value=i) #{i}
					div.InputUser
						label Gender
						div.Gender
							select#gender(name="gender")
								-let gender=['Male','Female']
								-for(let i=0;i<gender.length;i++)
									option(value=i) #{gender[i]}
					div.InputUser
						input.NavButton#signup(type="submit",value="Sign up")